@page
@model Corona_Doe_UI.Pages.LoginModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="css/site.css" />

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
        
</head>
<body>
    <div class="login" id="login">
        @*<div class="text-center pad-10">
                <img src="~/image/ZbLogo.png" class="img-size pad-top-8 float-left" />
                <h4 class="login-header">...</h4>
            </div>*@
        <div class="pad-zero-10">
            <form id="account" method="post">

                @*<div asp-validation-summary="All" class="text-danger" id="ddd"></div>*@
                <div class="myform">
                    <label asp-for="Input.Email" class="font-14 core-color"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Login id" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="myform position-relative">
                    <label asp-for="Input.Password" class="font-14 core-color"></label>
                    <input id="login-pwd" type="password" asp-for="Input.Password" class="form-control pad-right-25" placeholder="Password" />
                    <span id="eye-icon" class="fa fa-eye login-eyeicon" onclick="ShowPassword('login-pwd','eye-icon')"></span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="myform">
                    @*<div class="checkbox">
                            <label asp-for="Input.RememberMe" class="core-color">
                                <input asp-for="Input.RememberMe" />
                                <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                            </label>
                        </div>*@
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="rember" asp-for="Input.RememberMe">
                        <label class="form-check-label" for="rember" asp-for="Input.RememberMe"></label>
                        @*<span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>*@
                    </div>

                </div>
                <div class="myform">
                    <button type="submit" class="btn txtWidth btn-info">Log in</button>
                </div>
                @*<div class="myform text-center">
                        <a id="forgot-password" asp-page="./ForgotPassword" class="f core-color">Forgot your password?</a>
                        <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                    </div>*@

            </form>
        </div>
    </div>

    @if (TempData["sErrMsg"] != null)
    {
        <div class="container">
            <!-- Modal -->
            <div class="modal confirm-modal" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <div class="row my-row">
                                <div class="header-lit-enf pad-top-7">
                                    <h6 class="h-style">Error Message</h6>
                                </div>
                                <div class="ml-auto">
                                    <button type="button" class="btn forall_button" data-dismiss="modal">
                                        <i class="fa fa-ban"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <script>
            $(document).ready(function () {
                $("#myModal").modal("show");
            });
        </script>
    }

    <script>
        function ShowPassword(input, icon) {
            var type = $("#" + input).attr('type');
            if (type === 'password') {
                $("#" + input).attr('type', 'text');
                $('#' + icon).attr('class', 'login-eyeicon fa fa-eye-slash')
            } else {
                $("#" + input).attr('type', 'password');
                $('#' + icon).attr('class', 'login-eyeicon fa fa fa-eye');
            }
        }
    </script>

</body>
</html>

