@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('line-scale-party.css');

:root {
    --core-color: #138496;
    --logo-color: rgb(225, 0, 0);
    --bg-color-white: #FFF;
    --header-color: var(--core-color);
    --thead-color: var(--bg-color-white);
    --thead-backcolor: var(--core-color);
    --toolbar-color: #f1f1f1;
    --page-color: #E0E0E0;
    --control-backcolor: var(--core-color);
    --control-color: var(--bg-color-white);
    --control-hover-backcolor: #e5e5e5;
    --control-hover-color: var(--core-color);
    --child-backcolor: var(--bg-color-white);
    --no-width: 70px;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

/*radio Buttom color*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid var(--core-color);
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--core-color);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.text-color {
    color: var(--core-color) !important;
}

/* Placeholder color*/

.form-control::-webkit-input-placeholder {
    color: #969397;
}

/*font Sizes*/
.form-control, input, label, span, p, strong, a, u, th, td {
    font-size: 14px;
}

.form-control {
    min-height: calc(1.5em + .75rem + 2px);
    height: unset;
}

.font-11{
    font-size: 11px;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px !important;
}

.font-24 {
    font-size: 24px;
}

/*spacing*/

.mar-right-3 {
    margin-right: 3px;
}

.mar-left-3 {
    margin-left: 3px;
}

.mar-right-5 {
    margin-right: 5px;
}

.mar-right-10 {
    margin-right: 10px;
}
.mar-right-25{
    margin-right: 25px;
}

.mar-top-5 {
    margin-top: 5px;
}

.mar-left-8 {
    margin-left: 8px;
}

.mar-left-10 {
    margin-left: 10px;
}

.mar-10 {
    margin: 10px;
}

.mar-left-20 {
    margin-left: 20px;
}

.mar-right-7 {
    margin-right: 7px;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-top-25 {
    margin-top: 25px;
}

.mar-btm-0 {
    margin-bottom: 0px;
}

.mar-bot-5 {
    margin-bottom: 5px;
}

.pad-zero-10 {
    padding: 0 10px;
}

.pad-bot-5 {
    padding-bottom: 5px;
}

.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}

.pad-side {
    padding: 0 15px;
}

.pad-top-zero {
    padding-top: 0 !important;
}

.pad-top-5 {
    padding-top: 5px;
}

.pad-top-7 {
    padding-top: 7px;
}

.pad-top-15 {
    padding-top: 15px;
}

.pad-left-0{
    padding-left: 0px !important;
}

.pad-right-0{
    padding-right: 0px !important;
}

.pad-left-3 {
    padding-left: 3px !important;
}

.pad-left-5 {
    padding-left: 5px;
}

.pad-left-15 {
    padding-left: 15px;
}

.pad-right-15 {
    padding-right: 15px;
}

.pad-right-25 {
    padding-right: 25px;
}

.pad-right-115 {
    padding-right: 115px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-8 {
    padding-top: 8px;
}

.my-pad {
    padding: 15px 0;
}

.pad-10-LRzero {
    padding: 25px;
}

.h-35-pixel{
    height: 35px;
}

.h-400-pixel{
    height: 400px;
}

.header {
    font-weight: bold;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 1.7rem;
}

.bar {
    
    padding: 1.1rem;
    top: 0;
    position: absolute;
    display: none;
}

.sidebarcollapse{
    display: block;
}

.action-button {
    padding-top: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    /*height: 3.5rem;*/
    height: 4.5rem;
    display: flex;
    align-items: center;
}

.top-logo{
    width: 230px;
    height: 56px;
}

.my-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.full {
    width: 100%;
}

.eye-icon {
    position: absolute;
    top: 8px;
    right: 19px;
    cursor: pointer;
}

[errorborder = "err"] {
    border: none;
    border: 0.5px solid red;
}

[errorborder = "err"]:focus {
    border: none;
    border: 0.5px solid red;
}

.mycheck .form-check-input {
    width: 20px;
    height: 19px;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
        z-index: 1000;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .fa {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar {
    background-image: linear-gradient(180deg, #191654 0%, #37b79e 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 14px;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 0.3rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #fff;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            /*line-height: 3rem;*/
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    border: 1px solid #26b050;
    border-radius: .25rem;
}

.invalid, .invalid:focus {
    border: 1px solid red;
    border-radius: .25rem;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* toast */

.fa-check-circle {
    font-size: 17px !important;
}

.fa-exclamation-circle {
    font-size: 17px !important;
}

.toastposition {
    z-index: 9000;
    position: fixed;
    top:0;
    margin-left: 35%; 
}

.toastwidth {
    position: absolute;
    top: 0;
    min-width: 170px;
    margin: auto;
}

.position-topcenter {
    top: 2rem;
    left: 50%;
    margin-left: -4rem !important;
}

.my-toast {
    
    position: absolute;
    min-width: 150px;
}

/*toast*/

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.pointer {
    cursor: pointer;
}

.search-container{
    position:relative;
    margin-right: 5px;
}

.search {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 37px;
    padding-right: 32px;
    width: 179px;
}

.search-icon {
    position: absolute;
    right: 4px;
    top: 6px;
    font-size: 24px;
    cursor: pointer;
}

.table {
    margin-bottom: unset;
}

.table thead th, table td {
    vertical-align: middle !important;
    vertical-align: middle !important;
}

.table thead {
    /*background-color: var(--thead-backcolor);
    color: var(--thead-color);*/
    font-size: 12px;
}

/*table last row border*/
.table tbody > tr:last-child {
    border-bottom: 1px solid #D9D7D7;
}

.table thead th {
    padding: 12px 3px 12px 5px !important;
}

.table tbody td {
    padding: 12px 3px 12px 5px !important;
}

tbody td span{
    word-break: break-all;
}

.confirm-modal {
    background: rgba(0,0,0,0.7) 0px 1px 8px;
}

.confirm-modal .modal-body {
    min-height: 115px;
    padding: 37px 1rem;
}

.confirm-modal .modal-header {
    display: block;
}

/*Open Street Map*/
.mapchange-btn {
    display: none;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    /*left: 10px;
    bottom: 35px;*/
    margin-left: 10px;
    margin-top: -60px;
    color: white;
    background-image: url(../image/satellitemap.png);
}

.mapchange-span {
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 11px;
    position: absolute;
    line-height: normal;
    padding: 12px 0px 6px 0px;
    bottom: -2px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.6));
    text-indent: 3px;
    height: 28px;
    text-shadow: rgba(0,0,0,0.7) 0px 1px 8px;
    text-align: left;
}

.zoom-pointer {
    cursor: zoom-in;
}

.txtWidth {
    width: 100%;
}

.map-btn {
    border: 1px solid transparent;
    border-radius: 3px;
    background: white;
    border-color: var(--core-color);
    color: var(--core-color);
}

.header-screen, .header-lit-enf {
    font-weight: bold;
    color: var(--header-color);
    padding-top: 3px;
}

.cancel-btn {
    height: 37px;
    min-width: 38px;
    border-radius: 3px;
    border-color: var(--core-color);
    background: #fff;
    color: var(--core-color);
    font-size: 20px;
    padding-top: 3px;
}

.cancel-btn:hover {
    background-color: var( --control-hover-backcolor);
    color: var(--control-hover-color);
}

/*Table Pagination*/

.currentpage {
    background-color: var(--core-color) !important;
    color: white !important;
}

.btn-pagno {
    height: 37px;
    display: inline-block;
    font-size: 14px;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .55rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .btn-pagno:focus {
        outline: none;
    }

.btn-pag {
    height: 37px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid transparent;
}

.btn-nav-pag {
    margin-right: 3px;
}

    .btn-nav-pag:hover, .btn-pagno:hover {
        /*color: #007bff;*/
        color: var(--core-color);
        background-color: #ededed;
    }

    .btn-nav-pag:focus {
        outline: none;
        color: var(--core-color);
        background-color: #ededed;
        border: 2px solid #e3e3e3;
    }

.lbl-pag-no {
    font-size: 14px;
    color: gray;
    margin-top: 7px;
}

.lbl-rowcount {
    font-size: 14px;
    color: gray;
    padding-top: 7px;
    padding-right: 5px;
    float: right;
}

.div-pagination {
    padding: 3px;
    text-align: center;
    display: block !important;
}

[paging ="false"] {
    /*padding: 3px;*/
    padding: 15px 3px;
    text-align: center;
    display: block !important;
}

[paging = "true"] {
    /*padding: 3px;*/
    padding: 15px 3px;
    text-align: center;
    display: block !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
}

[paging-display = "False"] {
    display: none !important;
}

[paging-display = "True"] {
    display: block !important;
}

.main > div {
    /*padding-left: 1.1rem !important;
        padding-right: 1.1rem !important;*/
    padding: 1.1rem !important;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    color: #6f42c1;
    transform: translate(-50%, -50%);
    z-index: 999999999;
}

.subMenu {
    margin-left: -23px;
    margin-bottom: -23px;
    list-style-type: none;
}

.menu{
    position: relative;
    cursor: pointer;
}

.menu-icon {
    position: absolute;
    right: 0;
    top: 14px !important;
}

.validation-errors {
    padding-left: 19px;
}

/*Login page*/
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 310px;
    border: 0.5px solid #aca9a9;
    background: #E0E0E0;
    transform: translate(-50%,-50%);
    padding: 30px 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.login-btn, .login-btn:hover {
    background-color: var(--control-backcolor);
    color: var(--control-color) !important;
    border-radius: 0;
}

.login-eyeicon {
    position: absolute;
    top: 40px;
    right: 8px;
    cursor: pointer;
}

.login-error ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.myform {
    margin-bottom: 15px;
}

.version{
    float: right;
}

.underline {
    text-decoration : underline;
}

/*End*/


/*Excel Import*/
.file-wrapper {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.file-wrapper input {
    cursor: pointer;
    filter: alpha(opacity=1);
    opacity: .01;
    position: absolute;
    right: 0;
    top: 0;
}

.file-wrapper .button {
    background: #1D6F42;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: 38px;
    height: 37px;
    text-align: center;
}

.file-wrapper .font-excel {
    font-size: 21px;
    margin-top: 8px;
}


@media screen and (min-width: 576px) {
    .modal-dialog-entry {
        max-width: 891px !important;
        margin: 1.75rem auto;
    }
}

@media (max-width: 767.98px) {

    .toastposition{
        margin-left : 50%
       }

    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 264px;
        min-height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .bar{
        display:block;
    }

    .header {
        margin-top: -2px;
        margin-left: 40px;
        margin-bottom: 1.7rem;
    }

    .sidebarcollapse{
        display: none;
    }
}

/*Auto Complete*/

/** {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}*/

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block; 
    width : 100%;
}

/*input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    height: 37px;
}

    input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
        height: 37px;
    }

    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
    }*/

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
