<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center toastposition">
    <!-- Position it -->
    <div class="toastwidth">

        <!-- Then put toasts within -->
        <div class="toast my-toast" aria-live="assertive" aria-atomic="true" data-delay="1000" id="toastreadonly">

            <div class="toast-body  alert-warning">
                <i class="@WarningIconClass"></i>
            </div>
        </div>

        <div class="toast my-toast" aria-live="assertive" aria-atomic="true" data-delay="1000" id="toastsave">

            <div class="toast-body alert-success">
                <i class="@SuccessIconClass"></i>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string SuccessIconClass { get; set; }

    [Parameter]
    public string WarningIconClass { get; set; }
}
