@page "/entrypointtype/entry/{EntryPointTypeId:int}"

<h4 class="header">Entry Point Type Form</h4>

@if (entrypoint_Type != null)
{
    <EditForm Model="@entrypoint_Type" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="myanname">Myanmar Name*</label>
            <InputText class="form-control" id="name_mm" @bind-Value="entrypoint_Type.name_mm" autocomplete="off" />
        </div>

        <div class="form-group">
            <label for="engname">English Name*</label>
            <InputText class="form-control" id="name_en" @bind-Value="entrypoint_Type.name_en" autocomplete="off" />
        </div>
        <div class="form-group">
            <label for="remark">Remark</label>
            <InputText class="form-control" id="name_remark" @bind-Value="entrypoint_Type.remark" autocomplete="off" />
        </div>

        <div class="row my-row">
            <div class="action-button">

                <button type="submit" class="btn btn-info"><span>Save</span></button>

                @if (entrypoint_Type.entrypoint_type_id > 0)
                {
                    <button type="button" class="btn btn-danger" @onclick="HandleDelete"><span>Delete</span></button>
                }
                <a href="entrypointtype/list"> Cancel </a>

            </div>
        </div>
    </EditForm>
}

<MessageModal @ref="modal" />

@code {

    [Parameter]
    public int EntryPointTypeId { get; set; }

    private string msg;
    private MessageModal modal;
    en.entrypoint_type entrypoint_Type;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            va.IsLoading = true;
            if (EntryPointTypeId > 0)
                entrypoint_Type = await da.entrypoint_type.Get(EntryPointTypeId);

            entrypoint_Type ??= new en.entrypoint_type();
            va.IsLoading = false;
        }
        catch (Exception ex)
        {
            va.IsLoading = false;
            modal.Show("Message", ex.Message);
        }
    }

    #region Functions

    private async Task HandleValidSubmit()
    {
        try
        {
            es.ActionResult result;

            if (entrypoint_Type.entrypoint_type_id > 0)
                result = await da.entrypoint_type.Update(entrypoint_Type);
            else
                result = await da.entrypoint_type.Insert(entrypoint_Type);

            if (result.Status != es.Status.Success)
            {
                modal.Show("Message", result.Msg);
                return;
            }

            NavigationManager.NavigateTo("entrypointtype/list");
            await JsService.Toast("toastsave", "Save Success");
        }
        catch (Exception ex)
        {
            modal.Show("Message", ex.Message);
        }
    }

    private async Task HandleDelete()
    {
        bool confirm = await modal.Show("Message", "Are you sure want to delete ?", "Yes", "No");
        if (!confirm)
            return;

        try
        {
            await da.entrypoint_type.Delete(EntryPointTypeId);

            NavigationManager.NavigateTo("entrypointtype/list");
        }
        catch (Exception ex)
        {
            modal.Show("Message", ex.Message);
        }
    }

    #endregion

}
