@page "/region/entry/{RegionId:int}"

@inject NavigationManager navMgr

<h4 class="header">Region form</h4>

@if (region == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@region" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="usr">Myanmar name</label>
            <InputText class="form-control" id="name_mm" @bind-Value="region.name_mm" />
        </div>
        <div class="form-group">
            <label for="pwd">English name</label>
            <InputText class="form-control" id="name_en" @bind-Value="region.name_en" />
        </div>

        <div class="row my-row">
            <div class="action-button ml-auto">
                <a href="region/list"> Cancel </a>

                @if (region.region_id > 0)
                {
                    <button type="button" class="btn btn-danger" @onclick="HandleDelete">Delete</button>
                }

                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        

    </EditForm>
}

<MessageModal @ref="modal" />

@code {
    [Parameter]
    public int RegionId { get; set; }

    private en.region region;
    private MessageModal modal;

    protected override async Task OnInitializedAsync()
    {
        if (RegionId > 0)
            region = await da.region.Get(RegionId);

        region ??= new en.region();
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            es.ActionResult result;

            if (region.region_id > 0)
                result = await da.region.Update(region);
            else
                result = await da.region.Insert(region);

            if (result.Status != es.Status.Success)
            {
                modal.Show("Message", result.Msg);
                return;
            }

            navMgr.NavigateTo("region/list");
        }
        catch (Exception ex)
        {
            modal.Show("Message", ex.Message);
        }
    }

    private async Task HandleDelete()
    {
        bool confirm = await modal.Show("Message", "Are you sure want to delete ?", "Yes", "No");
        if (!confirm)
            return;

        try
        {
            await da.region.Delete(RegionId);

            navMgr.NavigateTo("region/list");
        }
        catch (Exception ex)
        {
            modal.Show("Message", ex.Message);
        }
    }
}
