@page "/region/list"

@inject NavigationManager navMgr

<h3 class="header">Regions</h3>

@if (regions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="float-right mb-2">
        <button class="btn btn-info" 
                @onclick="@(() => navMgr.NavigateTo("region/entry/0"))">
            + Add new
        </button>
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Myanmar name</th>
                <th>English name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var region in regions)
            {
                <tr @onclick="(() => HandleRowClick(region.region_id))">
                    <td>
                        @region.name_mm
                    </td>
                    <td>
                        @region.name_en
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private en.region[] regions;

    protected override async Task OnInitializedAsync()
    {
        string con_strng = da.shared.Variables.ConnString;
        var list = await da.region.Get();
        regions = list.ToArray();
    }

    private Task HandleRowClick(int region_id)
    {
        navMgr.NavigateTo("region/entry/" + region_id);

        return Task.FromResult<object>(null);
    }
}
